body {
    font-family: 'Roboto'
}

*,*::before,*::after{
    box-sizing: border-box;
}

hr {
    width: 384px;
    border: 1px solid gray;
    margin: 25px 0px;
}

p {
    font-size: 24px;
}

h2 {
    font-size: 64px;
    font-weight:bold;
    font-style: italic;
    margin-top: 56px;
}

h1{
    font-size: 80px;
    font-weight:bold;
    line-height: 1.325;
}

.ch {
    font-size: 20px !important;
    margin-top: 16px !important;
    margin-bottom: 0px !important;
    text-align: center;
}

.banner{
    background:url('work02/banner.png') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.banner div{
    width: 304px;
    height: 342px;
    color:#ffffff;
}

.banner div p{
    font-style: italic;
}

.banner div p.cotain{
    margin: 31px 0;
}

.banner ul{
    display: flex;
    justify-content:space-around;
}

.self{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight:bold;
}

.self img{
    margin: 20px 0px;
}

.self p{
    line-height: 1.5;
    font-weight:bold;
    font-style: italic;
    text-align: center;
}

.self p.experience{
    width: 412px;
}

div.circle {
    background-color: red;
    border-radius: 99em;
    width: 22px;
    height: 22px;
    display: inline;
    margin-right: 16px;
}

.expertise{
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.clothe {
    background-color: black;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand_img1 {
    margin: 68px 0px 40px 0px;
}

.clothe div{
    width: 1200px;
    display: flex;
    justify-content:space-between;
    margin-bottom: 160px;
} 

.clothe p{
    width: 320px;
    line-height: 1.25;
    margin-top: 12px;
    margin-bottom: 16px;
    text-align: center;
    font-style: italic;
}

.worksArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.worksArea p {
    font-weight: bold;
    font-style: italic;
    line-height: 1.5;
}

.worksList {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top: 8px;
    margin-bottom: 96px;
}

.worksList li {
    margin-top: 48px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color:#ffffff;
    height: 310px;
}

.footer h2{
    line-height: 1.3125;
}

.footer p{
    margin-top: 16px;
    line-height: 1.5;
}






