/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
    margin: 0; /* To remove default bottom margin */ 
    padding: 0; /* To remove default left padding */
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::before,*::after{
    box-sizing: border-box;
}

.container {
    margin: auto;
    width: 640px;
    vertical-align: top;
    text-align: left;
}

.main .container {
    display: flex;
}

img {
    vertical-align: top;
}

.container .newsList{
    display: flex;
}

.container .newsList li{
    display: flex;
    margin-bottom: 24px;
}

.container .newsList .news {
    margin-right: 20px;
    margin-left: 20px;
    width: 288px;
    vertical-align: top;
}

.news h1 {
    font-size: 20px;
    line-height: 1.2;
}

.news p {
    font-size: 16px;
    line-height: 1.5;
    word-break: break-all;
}

.footer .container {
    font-size: 16px;
    line-height: 1.5;
    height: 120px;
    background-color: gray;
}




