@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Noto+Sans+TC:wght@700&family=Roboto:wght@700&display=swap");

* {
    box-sizing: border-box;
}

button,
h1,
h2,
h4,
h4,
h5,
p,
th,
td {
    font-family: "Roboto", "Noto Sans TC", sans-serif;
}

img {
    display: block;
}

.main {
    height: 800px;
}

.nav {
    width: 296px;
    padding: 32px;
    font-weight: bold;
    font-size: 16px;
}

.nav img.icon {
    margin-bottom: 32px;
}

.nav ul li {
    margin-bottom: 26px;
}

.nav ul i {
    margin-bottom: 26px;
    margin-right: 16px;
}

.nav .accImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
}

.nav .mail {
    font-size: 14px;
}

/*admin*/
.admin {
    padding: 32px;
}

.admin h2 {
    margin-right: 47px;
}

.admin i {
    margin-right: 20px;
}

.admin .iconBtn {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0px;
    border: 0px;
}

.admin .btn-outline-primary {
    color: #198754;
    border: #198754 solid 1px;
}

.admin .btn-outline-primary:hover {
    color: #ffffff;
    background-color: #198754;
}

.admin button.active {
    color: #ffffff;
    background-color: #198754;
}

.admin .btn-outline-primary i {
    margin: 0px;
}

.admin .addBtn::before {
    content: "+";
    color: green;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.admin .addBtn {
    height: 24px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0px;
    border: 0px;
    font-size: 24px;
    font-weight: bold;
}

.admin .table thead tr {
    border-bottom: 2px solid #000000;
}

.admin .table tbody tr {
    border-bottom: 2px solid #ced4da;
}

.admin .table tbody tr td {
    padding-top: 19px;
    padding-bottom: 19px;
}
