.assignment {
    padding: 32px;

    h2 {
        margin-right: 47px;
    }

    h5 {
        font-size: 16px;
        font-weight: bold;
    }

    .btn-outline-primary {
        color: #198754;
        border: #198754 solid 1px;
    }

    .btn-outline-primary:hover {
        color: #ffffff;
        background-color: #198754;
    }

    button.btn-outline-primary.active {
        color: #ffffff;
        background-color: #198754;
    }

    .btn-outline-primary i {
        margin: 0px;
    }

    .showAllCoursesBtn {
        height: 24px;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 0px;
        border: 0px;
        font-size: 16px;
        font-weight: bold;
    }

    .showAllBtn {
        height: 24px;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 0px;
        border: 0px;
        font-size: 16px;
        font-weight: bold;
    }

    .comments {
        font-size: 12px;
        color: gray;
    }

    .assignmentList {
        width: 320px;

        li {
            height: 62px;

            button {
                background-color: rgba(255, 255, 255, 0.1);
                padding: 0px;
                border: 0px;
            }
        }

        li.active {
            background-color: #ced4da;
        }

        h5 {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 160px;
        }

        p {
            font-size: 14px;
        }

        span {
            font-size: 12px;
            color: gray;
        }
    }

    .content {
        width: 100%;

        .title {
            height: 62px;
            background-color: #ced4da;
        }

        .photo {
            width: 40px;
            height: 40px;
        }

        span {
            font-size: 12px;
            color: gray;
        }

        p {
            line-height: 1.5;
        }

        span.important {
            color: #198754;
            font-size: 16px;
            background-color: #ced4da;
        }

        .toolBar {
            height: 56px;
            background-color: #ced4da;
        }

        select {
            background-color: rgba(255, 255, 255, 0);
            border: 0px;
            font-family: "Roboto", "Noto Sans TC", sans-serif;
            font-weight: bold;
        }

        textarea {
            resize: none;
            border: 0px;
            height: 130px;
            font-family: "Roboto", "Noto Sans TC", sans-serif;
        }

        textarea:focus {
            border: 0px;
            outline: none;
        }

        a {
            text-decoration: none;
            color: #198754;
        }
    }
}