span,
button,
h1,
h2,
h4,
h4,
h5,
p,
th,
td,
label,
input,
option {
    font-family: "Roboto", "Noto Sans TC", sans-serif;
}

label {
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    font-size: 14px;
}

img {
    display: block;
}

.iconBtn {
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
    border: 0px;
}

